<div align="center" class="container-fluid">
  <h1>Friends</h1>
  <% @users.each do |user| %>
  <% if user != current_user && !current_user.received_requests(user) %>
    <div align="left" class="row user-info">
      <div class="col-md-3 user-gravatar">
      <%= image_tag(gravatar_for(user, 50), alt: user.name, class: 'author-image') %>
        <div class="user-name">
          <strong><%= user.name %></strong>
        </div>
      </div>
      <%= render partial: 'shared/friendship', locals: {user: user} %>
    </div>
  <% end %>
  <% end %>
  <%= will_paginate %>
</div>
