<div class="create-friendship">
  <%= form_for @friendship do |f| %>
   <div class="row">
      <div class="form-group col-sm-3">
        <%= f.hidden_field :friend_id, :value => user.id %>
      </div>
      <%= f.submit "Add Friend", class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>
