@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

//login-page
.login-section {
  margin-left: 20px;
}


// post-indes page
.post-section {
  background-color: #f5f2f2;
  margin: 0 20px;
  padding: 20px;
  padding-bottom: 0;
}
.profile-section {
  height: 50vh;
}
.unknown-friends-section {
  height: 50vh;
}

.input-field {
  height: 100px;

}
.comment-like {
  margin-top: 10px;
  padding-bottom: -10px;
  background-color: #e3e5e8;
}
